@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
 padding: 0;
 margin: 0;

}

body{
    background-color: darkgray;
    font-family: 'Maven Pro', sans-serif;
}
.contenedor{
    width: 80%;
    background-color: rgb(228, 227, 227);
    height: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
   

}
.tarjetaFrontal, .tarjetaReverso{
    background-color: #4bb9ff;
    width: 220px;
    height: 345px;
    border-radius: 8px;
    position: absolute;
    backface-visibility: hidden;
    transition: all 2s;
 

}
.filachip{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;

}
.chips{
    width: 40px;
    border-radius: 5px;
    transform: rotate(90deg);
}
.signal{
    color: white;
    font-size: 11pt;
}
.filaInferior{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}
.circulo1,.circulo2{
    background-color: #001e41;
    width: 100%;
    height: 230px;
    border-radius: 200px 0 9px 9px;
    position: absolute;
    display: flex;

    
    
}
.logoQik{
    width: 80px;
    height: 40px;
    margin-top: 180px;
    margin-left: 15px;

}
.circulo2{
    background-color: #4bb9ff;
    width: 50%;
    height: 115px;
    margin-top: 115px;
    border-radius: 200px 0 9px 0px;
}
.mastercardLogo{
    width: 70px;
    margin-top: 50px;
    margin-left: 30px;
}

/*Reverso*/


.bandaMagnetica{
    background-color: black;
    width: 50px;
    height: 345px;
    border-radius: 8px 0 0 8px;
    position: absolute;

}
.header{
    background-color: #001e41;
    color: white;
    height: 80px;
    padding: 12px 8px;
    border-radius: 8px 8px 0 0;

    
}
#thales{
    width: 100%;
    font-size: 5pt;
    text-align: right;
    
    
}
.nombreCliente{
    width: 100%;
    text-align: right;
    font-size: 10pt;
    margin-top: 25px;
}
.cuerpoReverso{
    background-color: white;
    height: 155px;
    
}
.firmaTexto{
    text-align: right;
    font-size: 6pt;
    margin-right: 8px;
    font-weight: 600;
}
.firma{
    background-color: rgb(248, 234, 217);
    width: 70.8%;
    height: 35px;
    margin-top: 3px;
    margin-left: 55px;
}

.qr{
   width: 75px;
   margin-top: 5px;
   margin-left: 95px;
   height: 75px;
   
   
}
.numeroQr{
    text-align: left;
    margin-left: 100px;
    font-size: 7pt;
    margin-top: -3px;
    margin-bottom: 5px;
    
}
.footerReverso{
    background-color: #001e41;
    height: 104px;
    border-radius: 0 0 8px 8px;
    padding-top: 5px;

}
.asistencia, .infText, .url, .tipoCard{
    color: white;
    font-size: 5pt;
    margin-left: 52px;
    margin-top: 5px;
    
}
.inf{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 5px;
    
}

.logoSeguro{
    width: 57px;
    filter: grayscale(100);
    
    
}
.web{
    color: white;
    display: flex;
    align-items: center;
    margin-top: 5px;
    
}
.url{
    font-size: 8pt;
}
.tipoCard{
    font-size: 10pt;
    margin-left: 38px;
}
/*rotar*/

.tarjetaReverso{
    transform: rotateY(180deg);
}

.tarjetaQik:hover .tarjetaFrontal {
    transform: rotateY(180deg);
   

}
.tarjetaQik:hover .tarjetaReverso {
    transform: rotateY(0deg);
 

}
